*{
  margin: 0;
  padding: 0;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
.container{
  .row{
    div{
      background-color: yellow;
      &:nth-child(2n){
        background-color: green;
      }
      &:nth-child(3n){
        background-color: red;
      }
    }
  }
}